.step {
  counter-increment: step_counter;
}

.step > span {
  display: flex;
}

.step > span > div {
  flex: 1;
}

.step > span::before {
  align-self: center;
  border: 2px solid #17a2b8;
  border-radius: 20px;
  color: #17a2b8;
  content: counter(step_counter);
  height: 2rem;
  margin-right: 1rem;
  text-align: center;
  width: 2rem;
}
